body {
  background-color: #d1bdab;
  color: #511f01;
  font-family: 'Rockwell', sans-serif;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin: 20px auto; 
  color: #f0d2b6; 
  border-bottom: 2px solid #f0d2b6; 
  width: 40%; 
}

label {
  display: block;
  font-size: 2.0rem;
  margin-bottom: 8px;
  font-weight: bold;
}

nav {
  margin: 8px;
  display: flex;
  justify-content: space-around;
  background-image: url('../public/bg2.jpg');
  padding: 10px;
  flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
}

.nav-pill {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: calc(50% - 20px); /* Set width to 50% minus spacing */
  width: 300px; /* Set a maximum width for larger screens */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ffc400;
  border-radius: 10px;
  margin: 10px; /* Adjust spacing between nav-pills */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.nav-pill:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add box-shadow on hover */
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: #f0f0f088; /* Fade to light grey on hover */
}

.nav-pill p {
  font-size: 2.5rem; 
  color: #ffffff; 
  margin: 0; 
}

.App {
  text-align: center;
}

header.App-header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffc400; /* Adjust background color as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  height: 50px; /* Fixed height for the app-header */
}

.menu-icon {
  cursor: pointer;
  margin-left: 40px;
  z-index: 1;
}

.menu {
  display: none;
  position: absolute;
  top: 80px; /* Adjust this value based on your layout */
  left: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #69512f;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  color: #352d21;
  background-color: #f0f0f0;
}

/* Additional styles for the open state */
.menu.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


.bar {
  width: 25px;
  height: 3px;
  background-color: #6f2b00;
  margin: 6px 0;
}

.logo-container {
  background-image: url('../public/bg.jpg');
  flex-grow: 1;
  position: relative;
  height: 190px; /* Set the height of the logo-container */
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.alert {
  font-size: 1.6rem;
  color: #b92323
}

.menu-section {
  background-image: url('../public/bg.jpg');
  text-align: center;
  padding: 20px;
}

.menu-header {
  font-size: 2em;
  margin: 20px auto; 
  color: #f0d2b6; 
  border-bottom: 2px solid #f0d2b6; 
  width: 40%; 
}

.beer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-beer {
  background-image: url('../public/bg2.jpg');
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  width: 35%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; 
}

.menu-beer h3 {
  color: #65370c;
  margin-top: 0;
  font-size: 2.5rem;
}

.menu-beer p {
  color: #333;
  font-size: 1.6rem;
}

.beer-stats {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.beer-stats li {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.job-section {
  padding: 20px;
  display: grid;
  gap: 20px;
}

.job-section h3 {
  font-size: 2em;
  color: #f0d2b6; 
  border-bottom: 2px solid #f0d2b6; 
  width: 100%; 
}

.job-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.emp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.job-card {
  max-width: 400px; /* Set width to 400px */
  background-color: #f0d2b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.employee {
  max-width: 400px; 
  margin: auto;
  background-image: url('../public/bg2.jpg');
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.job-property, .emp-property {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.6rem;
}

.emp-property {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  font-size: 2.0rem;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.name-input {
  font-size: 1.2rem;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.catering-menu {
  display: flex;
  flex-wrap: wrap; /* Wrap catering options to the next line if they exceed the container width */
  gap: 20px; /* Spacing between catering options */
}

.catering-option {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1; /* Each option takes equal width */
  max-width: calc(33.33% - 20px); /* Adjust based on the number of options you have */
  text-align: center; /* Center-align content */
}

.catering-option img {
  width: 90%;
}

.catering-option span {
  font-weight: bold;
  font-size: 2.5rem;
  color: #65370c;
}

.catering-option p {
  margin-top: 10px; /* Increased margin */
  font-size: 1.7rem; /* Increased font size */
  color: #666;
}

.catering-option a {
  display: inline-block;
  margin-top: 15px; /* Increased margin */
  padding: 10px 20px; /* Increased padding */
  background-color: #ffc400;
  color: #6f2b00;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.catering-option a:hover {
  background-color: #ffdf80;
}

#food-hero {
  background-image: url('../public/foodhero.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#food-hero p {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  font-size: 2.7rem;
  color: #ffffff; /* White text color */
  padding: 80px; /* Adjust padding as needed */
  text-align: left;
  border-radius: 10px; /* Add rounded corners */
  max-width: 40%; /* Limit the width of the transparent box */
}

#job-hero {
  background-image: url('../public/kegs.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#job-hero p {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  font-size: 2.7rem;
  color: #ffffff; /* White text color */
  padding: 80px; /* Adjust padding as needed */
  text-align: left;
  border-radius: 10px; /* Add rounded corners */
  max-width: 40%; /* Limit the width of the transparent box */
}


.menu-section {
  background-image: url('../public/bg.jpg');
  text-align: center;
  padding: 20px;
}

.menu-header {
  font-size: 2em;
  margin: 20px auto; 
  color: #f0d2b6; 
  border-bottom: 2px solid #f0d2b6; 
  width: 40%; 
}

.food-menu {
  background-image: url('../public/bg2.jpg');
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.food-family {
  background-color: #ffc596;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-food {
  padding: 20px;
  margin: 15px;
  text-align: left; 
}

.menu-food span {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.menu-food p {
  color: #65370c;
  margin: 0;
}

.food-family h3 {
  color: #65370c;
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: center;
}

#home-hero {
  background-image: url('../public/homehero.jpg'); /* Replace with the path to your background image */
  background-size: cover;
  background-position: center center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#home-hero p {
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  font-size: 2.7rem;
  color: #ffffff; /* White text color */
  padding: 80px; /* Adjust padding as needed */
  text-align: left;
  border-radius: 10px; /* Add rounded corners */
  max-width: 40%; /* Limit the width of the transparent box */
}

#review-list {
  background-image: url('../public/bg.jpg');
}

#reviews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  gap: 20px; 
  padding: 20px;
}

.review {
  background-color: #d1bdab;
  border: 2px solid #834400;
  border-radius: 8px;
  padding: 15px;
}

.review p {
  margin-bottom: 10px;
}

#writeReviewBtn {
  background-color: #ffc400;
  text-decoration: none;
  color: #6f2b00;
  border: none;
  padding: 8px 16px; 
  font-size: 22px; 
  font-family: 'Rockwell', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#writeReviewBtn:hover {
  background-color: #6f2b00;
  color: #ffc400;
}

.bold {
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 1260px) {
  .nav-pill {
    width: calc(100% - 20px);
    width: 300px;
    height: 300px;  
  }
}

@media (max-width: 1100px) {
  .food-family {
      width: 100%; /* Adjust width for a single column on smaller screens */
  }

  .catering-option span {
    font-weight: bold;
    font-size: 2.0rem;
    color: #333;
  }
  
  .catering-option p {
    margin-top: 10px; /* Increased margin */
    font-size: 1.4rem; /* Increased font size */
    color: #666;
  }
}

@media (max-width: 920px) {
  .emp-grid, .job-grid {
    display: block;
  }

  .job-card {
    margin: auto;
  }

  .employee, .job-card {
    max-width: none;
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .menu-beer {
    width: 65%; /* Adjust width for a single column on smaller screens */
  }

  .catering-option {
    flex-basis: 75%; /* Set width to 75% */
    max-width: 75%; /* Set max width to 75% */
    margin: 0 auto; /* Center the catering options horizontally */
  }
}

@media (max-width: 800px) {
  #food-hero p {
      font-size: 1.7rem;
  }
}

@media (max-width: 700px) {
  #home-hero p {
    font-size: 2.1rem;
    padding: 30px;
  }

  .logo-container {
    height: 130px;
  }
  
  .menu-icon {
    margin-left: 0;
  }
}

