#food-hero {
    background-image: url('../public/foodhero.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#food-hero p {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    font-size: 2.7rem;
    color: #ffffff; /* White text color */
    padding: 80px; /* Adjust padding as needed */
    text-align: left;
    border-radius: 10px; /* Add rounded corners */
    max-width: 40%; /* Limit the width of the transparent box */
  }
  

.menu-section {
    background-image: url('../public/bg.jpg');
    text-align: center;
    padding: 20px;
}
  
.menu-header {
    font-size: 2em;
    margin: 20px auto; 
    color: #f0d2b6; 
    border-bottom: 2px solid #f0d2b6; 
    width: 40%; 
}
  
.food-menu {
    background-image: url('../public/bg2.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.food-family {
    background-color: #ffc596;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.menu-food {
    padding: 20px;
    margin: 15px;
    text-align: left; 
}
  
.menu-food span {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
  
.menu-food p {
    color: #65370c;
    margin: 0;
}
  
.food-family h3 {
    color: #65370c;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 1100px) {
    .food-family {
        width: 100%; /* Adjust width for a single column on smaller screens */
    }
}

@media (max-width: 800px) {
    #food-hero p {
        font-size: 1.7rem;
    }
}